/*======================================
        Color's Variables
=======================================*/

$white: #fff;
$black: #000;
$black-21: #212121;
$primary: #082039;
$primary-76: #00a376;
$primary-b8: #17a2b8;
$primary-ff: #00c0ff;
$primary-42: #ffffff42;
$primary-50: #0e2e50;
$secondary: #00c194;
$secondary-96: #07c196;
$secondary-f6: #edf9f6;
$secondary-ea: #dceeea;
$secondary-f4: #eaf7f4;
$gray-8a: #70778a;
$gray-8b: #70778b;
$gray-de: #c8d3de;
$gray-9f: #878c9f;
$gray-92: #929292;
$gray-93: #788593;
$gray: rgba(135, 140, 159);
$orange-42: #ff9642;
$orange-00: #ffab00;
